<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="frgHeaderBase">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap -->
	<link href="/vendors/bootstrap/dist/css/bootstrap.min.css"
		rel="stylesheet" />
	<!-- Font Awesome -->
	<link href="/vendors/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" />
	<!-- iCheck -->
	<link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
	<!-- bootstrap-progressbar -->
	<link
		href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
		rel="stylesheet" />
	<!-- jVectorMap 
    <link href="/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>-->

	<!-- Custom Theme Style -->
	<link href="/css/custom.min.css" rel="stylesheet" />
</th:block>
<!-- <title th:text="${page.name}">Gentallela Alela! | </title> -->
</head>
<body>
	<th:block th:fragment="frgScriptsBase">
		<!-- jQuery -->
		<script src="/vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- FastClick -->
		<script src="/vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="/vendors/nprogress/nprogress.js"></script>
		<!-- Chart.js -->
		<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
	<!-- gauge.js -->
		<script src="/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
		<!-- bootstrap-progressbar -->
		<script
			src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<!-- iCheck -->
		<script src="/vendors/iCheck/icheck.min.js"></script>
		<!-- Skycons -->
		<!-- <script src="../vendors/skycons/skycons.js"></script> -->
		<!-- Flot -->
		<!-- <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script> -->
		<!-- Flot plugins -->
		<!-- <script src="js/flot/jquery.flot.orderBars.js"></script>
    <script src="js/flot/date.js"></script>
    <script src="js/flot/jquery.flot.spline.js"></script>
    <script src="js/flot/curvedLines.js"></script> -->
		<!-- jVectorMap -->
		<!--  <script src="js/maps/jquery-jvectormap-2.0.3.min.js"></script> -->
		<!-- bootstrap-daterangepicker -->
		<script src="/vendors/moment/moment.min.js"></script>
		<!-- <script src="js/datepicker/daterangepicker.js"></script> -->

		<!-- Custom Theme Scripts -->
		<script src="/js/custom.min.js"></script>

	</th:block>
</body>
</html>